@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}
:root{
    --mau-neon: hsl(317 100% 54%);
    --bg-neon: hsl(323 21% 16%);
}
body {
    color: #2b2c48;
    font-family: "Quicksand", sans-serif;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 20px;
}
.card {
    max-width: 340px;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(235, 4, 216, 0.253);
}
a {
    text-decoration: none !important;
    color:rgba(255, 110, 255, 1)
  }
.card[data-state="#about"] {
    height: 500px;
}

.card[data-state="#about"] .card-main {
    padding-top: 0;
}
.card-fullname{
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 400vw 400vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}

@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 400vw;
  }
}

.card[data-state="#contact"] {
    height: 430px;
}
.gynngu{
    font-size: 3px;
    text-align: center;  
    position: absolute;
    right: 20px;
    bottom: 30px; 
    color: red;
}
.card[data-state="#payment"] {
    width: 500px;
    
}

.card[data-state="#experience"] {
    height: 700px;
}

.card.is-active .card-header {
    height: 80px;
}

.card.is-active .card-cover {
    height: 100px;
    top: -50px;
}

.card.is-active .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
}

.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
    left: 86px;
    transform: none;
}

.card.is-active .card-fullname {
    bottom: 18px;
    font-size: 19px;
}

.card.is-active .card-jobtitle {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
}

.card-header {
    position: relative;
    display: flex;
    height: 200px;
    flex-shrink: 0;
    width: 100%;
    transition: 0.3s;
}

.card-header * {
    transition: 0.3s;
}

.card-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 160px;
    top: -20%;
    left: 0;
    will-change: top;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    transform: scale(1.2);
    transition: 0.5s;
}

.card-avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
}

.card-jobtitle {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
}

.card-main {
    position: relative;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-subtitle {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 8px;
}

.card-content {
    padding: 30px;
}

.card-desc {
    line-height: 1.6;
    color: #636b6f;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}

.card-social {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

.card-social svg {
    fill: #f73fde;
    width: 16px;
    display: block;
    transition: 0.3s;
}

.card-social a {
    color: #10ec52;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(93, 133, 193, 0.05);
    border-radius: 50%;
    margin-right: 10px;
}

.card-social a:hover svg {
    fill: #d200fc;
}

.card-social a:last-child {
    margin-right: 0;
}

.card-buttons {
    
    display: flex;
    background-color: #fff;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    left: 0;
}

.card-buttons button {
    flex: 1 1 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0;
    font-size: 13px;
    border: 0;
    padding: 15px 5px;
    cursor: pointer;
    color: #5c5c6d;
    transition: 0.3s;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    outline: 0;
    border-bottom: 3px solid transparent;
}

.card-buttons button.is-active,
.card-buttons button:hover {
    color: #2b2c48;
    border-bottom: 3px solid #f185e8;
    background: linear-gradient(to bottom, rgba(235, 196, 231, 0.343) 0%, rgba(242, 42, 162, 0.962) 44%, rgba(240, 97, 188, 0.214) 100%);
}
.card-section {
    display: none;
}

.card-section.is-active {
    display: block;
    -webkit-animation: fadeIn 0.6s both;
    animation: fadeIn 0.6s both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translatey(40px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translatey(40px);
    }
    100% {
        opacity: 1;
    }
}

.card-timeline {
    margin-top: 30px;
    position: relative;
}

.card-timeline:after {
    background: linear-gradient(to top, rgba(134, 214, 243, 0) 0%, #eba9dc 100%);
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
}

.card-item {
    position: relative;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
    z-index: 1;
}

.card-item:last-child {
    padding-bottom: 5px;
}

.card-item:after {
    content: attr(data-year);
    width: 10px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid #fff;
    font-size: 11px;
    text-indent: -35px;
    border-radius: 50%;
    color: rgba(134, 134, 134, 0.7);
    background: linear-gradient(to bottom, #f0b8ed 0%, #e94acc 100%);
}

.card-item-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.card-item-desc {
    font-size: 13px;
    color: #6f6f7b;
    line-height: 1.5;
    font-family: "Work Sans", sans-serif;
}

.card-contact-wrapper {
    margin-top: 20px;
    height: 600px;
    width: 800px;
}

.card-contact {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #6f6f7b;
    font-family: "Work Sans", sans-serif;
    line-height: 1.6;
    cursor: pointer;
}

.card-contact+.card-contact {
    margin-top: 16px;
}

.card-contact svg {
    flex-shrink: 0;
    width: 30px;
    min-height: 34px;
    margin-right: 12px;
    transition: 0.3s;
    padding-right: 12px;
    border-right: 1px solid #dfe2ec;
}

#contact-me {
    background: linear-gradient(90deg, #03a9f4, #f441a5 , #f441a5, #ffeb3b, #03a9f4);
    background-size: 1000px;
    border: currentColor 0.125em solid;
    outline: none;
    color: white;
    padding: 12px 16px;
    width: 100%;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500px;
    font-family: "Quicksand", sans-serif;
    transition: 0.3s;
    z-index: 1;
    margin-right: 100px;
}
#contact-me:hover{
    animation: contactme 8s linear infinite;
}
@keyframes contactme
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}
#contact-me::before{
    content: '';
    position: absolute;
    top:-5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5 , #f441a5, #ffeb3b, #03a9f4);
    background-size: 1000px;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}
#contact-me:hover:before{
    filter: blur(500px);
    opacity: 1;
    animation: contactme 8s linear infinite;
}
.box{
    position:absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    backdrop-filter: blur(25px);
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);
    animation: dongho 5s ease-in-out infinite;
    animation-delay: -2.5s;
}
@keyframes dongho{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.clock{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(transparent,rgba(255,255,255,0.2)), url(https://media.discordapp.net/attachments/621778286460272690/889494719124631582/clock.png);
    border-radius: 50%;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.1);
    border-bottom: none;
    border-right:none;
    box-shadow: -10px -10px 20px rgba(255,255,255,0.1),
    10px 10px 20px rgba(0,0,0,0.1),
    10px 40px 50px rgba(0,0,0,0.2);
}
.clock::before{
    content:'';
    position: absolute;
    width: 7.5px;
    height: 7.5px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.hour,
.min,
.sec{
    position:absolute;
}
.hour, .hr{
    width: 80px;
    height: 80px;
}
.min, .mn{
    width: 110px;
    height: 110px;
}
.sec, .sc{
    width: 140px;
    height: 140px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 40px;
    background: #ff105e;
    z-index: 11;
    border-radius: 6px;
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 60px;
    background: #fff;
    z-index: 12;
    border-radius: 6px;
}
.sc::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 90px;
    background: #fff;
    z-index: 12;
    border-radius: 6px;
}

